<h2>
	Add new Posts
</h2>

<p>	
	<form action="/new" method="POST" role="form">
		Введите имя Автора: 
	  <input name = "post[avtor]" type="text" class="form-control"  placeholder="Введите имя" value="<%= @c.avtor %>"><br>
	    Введите пост:
	  <textarea name="post[content]" class="form-control"  rows="6" placeholder="Type post text here"></textarea> <br>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>